@media screen and (min-width: 769px) and (max-width: 1200px) {

  .header-title {
    padding: 1.1rem 2.7rem;
  }

  header nav {
    padding: .8rem 2.7rem;
  }

  main {
    max-width: 720px;
  }

  figure img {
    height: 20rem;
  }

  .post-grid {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-grid-img {
    width: 688px;
  }

  .post-grid-content {
    width: 720px;
    margin-bottom: 1rem;
  }

  footer {
    padding: 1.6rem 1.5rem 1.85rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  footer nav {
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }

  .footer-info {
    align-items: center;   
    width: 100%;
    margin-top: 1.3rem; 
  }
}



@media screen and (max-width: 768px) {
  
  .header-title {
    padding: 1rem 1.2rem .7rem;
  }

  .header-title a {
    font-size: 2rem;
  }

  header nav{
    padding: .3rem 1.2rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  #mobile-open-btn {
  }

  #mobile-close-btn {
  }

  .mobile-nav {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
    width: 100%;
  }

  .mobile-nav li {
    margin: 0.7rem 0;
    width: 100%;
  }

  .mobile-nav-link {
    padding: 0;
    font-size: 1.7rem;
    color: white;
    display: block;
  }

  .mobile-nav-link:hover {
    color: var(--color-accent);
  }

  .header-nav {
    display: none;
  }

  main {
    max-width: 320px;
  }

  figure img {
    height: 15rem;
  }

  .careers-city img {
    width: 300px;
    height: 200px;
  }

  .post-grid {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-grid-img {
    width: 288px;
    height: 150px;
  }

  .post-grid-content {
    width: 320px;
    margin-bottom: 1rem;
  }

  footer {
    padding: 1.6rem 1.5rem 1.85rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  footer nav {
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-nav li {
  padding: 0;
  }

  .footer-info {
    align-items: flex-start;   
    width: 100%;
    margin-top: 1.3rem; 
  }

  .post-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

